/*--- WEB SITE SETUP --------------------------------------------------*/

/* data-theme="light", data-fonts="normal" */
:root {
    --ex-bg-color: #eeeeee;
    --ex-tx-color: #212529;
    --ex-menu-bg-color: #ffffff;
    --ex-btn-bg-color: #212529;
    --ex-next-bg-color: rgba(0, 0, 0, 0.2);
    --ex-border-color: #CED2D6;

    --ex-tx-size: 1.25rem;
}

[data-theme="dark"] {
    --ex-bg-color: #343746;
    --ex-tx-color: #eeeeee;
    --ex-menu-bg-color: #4C555D;
    --ex-btn-bg-color: #000000;
    --ex-next-bg-color: rgba(0, 0, 0, 0.4);
    --ex-border-color: #222326;
}

[data-fonts="small"] {
    --ex-tx-size: 1.0rem;
}

[data-fonts="large"] {
    --ex-tx-size: 1.50rem;
}

[data-fonts="huge"] {
    --ex-tx-size: 1.75rem;
}


/*--- LAYOUT --------------------------------------------------*/

html,body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    width: 100% !important;
    min-width: 100vw !important;
    max-width: 100% !important;
    height: 100% !important;
    min-height: 100vh !important;
    max-height: 100% !important;
}

header {
    top: 0px;
    z-index: 99;
}

main {
    top: 0px;
    z-index: 1;
}

footer {
    bottom: 0px;
    z-index: 99;
}

.back-flag {
    background-clip: padding-box;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/br-flag.jpg);
}

.frame {
    position: fixed;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.page {
    height: 100% !important;
    min-height: 100vh !important;
    max-height: 100% !important;
    color: var(--ex-tx-color);
    background-color: var(--ex-bg-color);
    border: 1px solid var(--ex-border-color);
}

@media (orientation: portrait) {
    .back-flag {
        background-position: center;
        background-size: auto 100%;
    }

    .frame {
        left: 0 !important;
        width: 100% !important;
    }

    .no-mobile {
        display: none;
    }
}

@media (orientation: landscape) {
    .back-flag {
        background-position: 0 0;
        background-size: 100% 100%;
    }

    .frame {
        left: 20% !important;
        width: 60% !important;
    }

    .no-desktop {
        display: none;
    }
}


/*--- TYPOGRAPHY --------------------------------------------------*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Jost", Helvetica, Arial, sans-serif !important;
}

a,
a:hover,
a:focus,
a:link,
a:active,
a:visited {
    text-decoration: none;
    outline: none;
    color: var(--ex-tx-color);
}

a i[class^='bi']:hover,
a i[class^='bi']:focus {
    text-shadow: 2px 2px 4px #aaa;
    /*filter: drop-shadow(3px 3px 4px rgba(0,0,0,0.3));*/
}

.lead {
    font-size: var(--ex-tx-size) !important;
}

.h-nav {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    color: var(--ex-tx-color);
}
.h-nav:hover,
.h-nav:focus {
    text-shadow: 2px 2px 4px #aaaaaa;
    /*filter: drop-shadow(3px 3px 4px rgba(0,0,0,0.3));*/
}
@media (max-width: 356px) {
    h3.h-nav {
        font-size: 18px;
    }
    h5.h-nav {
        font-size: 14px;
    }
    h6.h-nav {
        font-size: 10px;
    }
}

.h-notify {
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 1rem;
}

.h-notify .badge {
    font-size: 0.94em;
    line-height: 1em;
    color: #fff !important;
    background-color: #2FB56A !important;
}


/*--- CAROUSEL --------------------------------------------------*/

.carousel-control-next,
.carousel-control-prev {
    z-index: 30;
}
@media (orientation: portrait) {
    .carousel-control-prev .carousel-control-prev-icon,
    .carousel-control-next .carousel-control-next-icon {
        display: none;
    }
}
@media (orientation: landscape) {
    .carousel-control-prev .carousel-control-prev-icon,
    .carousel-control-next .carousel-control-next-icon {
        border-radius: 3rem;
        width: 3rem;
        height: 3rem;
        background-color: var(--ex-next-bg-color);
    }
    .carousel-control-prev .carousel-control-prev-icon:hover,
    .carousel-control-next .carousel-control-next-icon:hover {
        box-shadow: 0 0 10px var(--ex-next-bg-color);
    }
}


/*--- MENU & TOAST --------------------------------------------------*/

.dropdown-menu {
    background-color: var(--ex-menu-bg-color);
}

.dropdown-header {
    color: var(--ex-disabled-color);
}

.toast-header,
.toast-body {
    color: black;
}

.btn-dark {
    background-color: var(--ex-btn-bg-color) !important;
}

.btn-close {
    color: var(--ex-tx-color) !important;
}

.table-setup {
    color: var(--ex-tx-color) !important;
}

/*--- MODAL --------------------------------------------------*/

.modal-content {
    color: var(--ex-tx-color);
    background-color: var(--ex-menu-bg-color);
}

.modal .modal-content .modal-body p,
.modal .modal-content .modal-body li {
    text-align: justify;
}

.modal .modal-content .modal-body .blockquote {
    font-size: 1rem;
}

#modalSetup .modal-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#modalSetup .modal-body table {
    margin: 0 !important;
}

/*--- UTILITIES --------------------------------------------------*/

.shadow-10 {
    box-shadow: 0 10px 20px -4px #000;
}

.text-justify {
    text-align: justify;
}

.icon-nav {
    font-size: 1.8rem;
    color: var(--ex-tx-color);
}

.icon-menu {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: baseline;
}

.icon-inline {
    display: inline-block;
    width: auto;
    height: 1em;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.icon-social {
    font-size: 1.8rem;
    color: var(--ex-tx-color);
}

.icon-cc {
    font-size: 1.4rem;
}

.icon-score-13 .icon-nav { color: #800000; }
.icon-score-12 .icon-nav { color: #BB2020; }
.icon-score-11 .icon-nav { color: #FF4040; }
.icon-score-21 .icon-nav { color: #4040FF; }
.icon-score-22 .icon-nav { color: #2020BB; }
.icon-score-23 .icon-nav { color: #000080; }

.img-inline {
    display: inline-block;
    width: auto;
    height: 3em;
}

.btn-nav {
    box-sizing: content-box;
    width: 2em;
    height: 2em;
    padding: 0.25em 0.25em;
    color: var(--ex-tx-color);
    border: 0;
    border-radius: 0.375rem;
    opacity: .6;
    background-color: #ffffff00;
}

.vermelho { background-color: red; }
.azul { background-color: blue; }
.laranja { background-color: orange; }
.cinza { background-color: #BBBBBB; }
.verde { background-color: green; }
.amarelo { background-color: yellow !important; }


/*--- INPUT-RADIO --------------------------------------------------*/

input[type='radio']:checked {
    background-color: #212529;
}

.form-check-input:checked {
    background-color: #212529;
    border-color: #212529;
}

input[type="checkbox"]:focus {
  border-color: rgba(33, 37, 41, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(33, 37, 41, 0.6);
  outline: 0 none;
}

/*--- INPUT-RANGE --------------------------------------------------*/

input[type=range] {
  height: 33px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #888888;
  background: #DDDDDD;
  border-radius: 5px;
  border: 1px solid #BBBBBB;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #888888;
  border: 1px solid #333333;
  height: 25px;
  width: 15px;
  border-radius: 10px;
  background: #212529;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range][disabled]::-webkit-slider-thumb {
  background: #212529;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DDDDDD;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #888888;
  background: #DDDDDD;
  border-radius: 5px;
  border: 1px solid #BBBBBB;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #888888;
  border: 1px solid #333333;
  height: 25px;
  width: 15px;
  border-radius: 10px;
  background: #212529;
  cursor: pointer;
}
input[type=range][disabled]::-moz-range-thumb {
  background: #212529;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #DDDDDD;
  border: 1px solid #BBBBBB;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #888888;
}
input[type=range]::-ms-fill-upper {
  background: #DDDDDD;
  border: 1px solid #BBBBBB;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #888888;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #888888;
  border: 1px solid #333333;
  height: 25px;
  width: 15px;
  border-radius: 10px;
  background: #212529;
  cursor: pointer;
}
input[type=range][disabled]::-ms-thumb {
  background: #212529;
}
input[type=range]:focus::-ms-fill-lower {
  background: #DDDDDD;
}
input[type=range]:focus::-ms-fill-upper {
  background: #DDDDDD;
}
